$whiteText: #101212;
$white: #ffffff;
$darkText: #cccccc;
$dark: #101212;
// Didn't use different file structure because of the way I started the body.
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
body.light{
  background-color: $white;
  color: $whiteText
}
body.dark{
  background-color: $dark;
  color: $darkText
}
p{
  margin-bottom: 0 !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav{
  width: 100%;
  height: 50px;
  box-shadow: 1px 1px 15px 1px black;
}
.intl{
  position: absolute;
  right: 0;
  padding-right: 40px;
  padding-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.intl--switchholder{
  display: flex;
  padding-top: 5px;
  padding-right: 12px;
  gap: 1px;
}
// The card styling
.card{
  height: 250px;
  width: 150px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0.3px 0 8px 0.5px black;
  margin: 8px;
}
.photo.img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
// CardHolder stylying
.cardHolder{
  max-width: 800px;
  width: 85%;
  margin: auto;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

}
// styling of the logo
.holder{
  width: 50px;
  height: 50px;
  position: absolute;
  left: 21%;
  top: 0%;
}
.logo{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.intl .__text{
  font-weight: bold;
}
.card.bounce{
  transform: translateY(3px);
  display: none;
}
// media query for phone and tablets
@media screen and (max-width: 450px){
  .holder{
    position: absolute;
    left: 3%;
  }
  .intl{
    padding-right: 2px;
    font-size: small;
  }
}